<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="styles/style.css">

	<title></title>
</head>
<body>
	<div id="header">
		<div id="header-content">
			<div id="site-title">Simple Topic App</div>
			<div id="new-topic">Create Topic</div>
		</div>
	</div>
	<div id="content">
		<div id="topics">
			<div class="topic">
				<div class="topic-title">Topic Title</div>
				<div class="topic-add-upvote">&#8679;</div>
				<div class="topic-upvote-counter">12</div>
			</div>
			<div class="topic">
				<div class="topic-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
				<div class="topic-add-upvote">&#8679;</div>
				<div class="topic-upvote-counter">12</div>
			</div>
		</div>
		<div id="pagination">
			<div id="pagination-content">
				<a href="" id="prev"><</a>
				<a href="" id="next">></a>
			</div>
		</div>
	</div>
</body>
</html>