<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="scripts/angular.min.js"></script>
	<script type="text/javascript" src="scripts/app.js"></script>
	<link rel="stylesheet" type="text/css" href="styles/style.css">

	<title></title>
</head>
<body ng-app="topicsApp" ng-controller="topicsController">
	<div id="header">
		<div id="header-content">
			<div id="site-title">Simple Topic App</div>
			<form id="new-topic-form">
				<input ng-model="newTitle" id="new-topic-title" placeholder="input new topic title here" type="text" name="title">
				<div id="new-topic" ng-click="NewTopic()" >Create Topic</div>
			</form>
		</div>
	</div>
	<div id="content">
		<div id="topics">
			<div class="topic" ng-repeat="(key, topic) in topicList">
				<div class="topic-title">{{topic.topic_title}}</div>
				<div class="topic-add-upvote" ng-click="Upvote(key, topic.topic_id)">&#8679;</div>
				<div class="topic-upvote-counter">{{topic.topic_upvotes}}</div>
			</div>
		</div>
		<div id="pagination">
			<div id="pagination-content">
				<a href="" ng-if="currPage>1" ng-click="GetList(currPage-1)" id="prev"><</a>
				<a href="" ng-if="topicList.length > 0" ng-click="GetList(currPage+1)" id="next">></a>
			</div>
		</div>
	</div>
</body>
</html>